.profile {
  margin: 0 auto;
  max-width: 300px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.description {
  margin-bottom: 20px;
}

.avatar_photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.tag,
.location,
.label {
  color: #888;
}

.stats {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.quantity {
  display: block;
  font-weight: bold;
}
