.statistics {
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 700px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.statList {
  list-style: none;
  padding: 0;
  display: flex;
  column-gap: 1px;
  justify-content: center;
}

.stat {
  width: 60px;
  padding: 10px;
  background-color: #af4c4c;
  color: #fff;
  text-align: center;
}

.label {
  display: block;
  margin-bottom: 5px;
}
