.transactionTable {
  width: 1200px;
  border-collapse: collapse;
  text-align: center;
  margin: 20px auto;
}

.transactionHead {
  background-color: #00bcd4;
  color: white;
  font-weight: bold;
}

.transactionHead th,
.transaction td {
  padding: 12px 8px;
  border: 1px solid #8f8f8f;
  border-radius: 4px;
}

.transaction {
  border-bottom: 1px solid #ddd;
}

.transaction:nth-child(even) {
  background-color: #f2f2f2;
}
